@font-face {
  font-family: 'DigitaldreamFatSkewRegular';
  src: url('/assets/fontface/DIGITALDREAMFATSKEW-webfont.eot');
  src: url('/assets/fontface/DIGITALDREAMFATSKEW-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fontface/DIGITALDREAMFATSKEW-webfont.woff') format('woff'),
  url('/assets/fontface/DIGITALDREAMFATSKEW-webfont.ttf') format('truetype'),
  url('/assets/fontface/DIGITALDREAMFATSKEW-webfont.svg#DigitaldreamFatSkewRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OrbitronMedium';
  src: url('/assets/fontface/orbitron-medium-webfont.eot');
  src: url('/assets/fontface/orbitron-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fontface/orbitron-medium-webfont.woff') format('woff'),
       url('/assets/fontface/orbitron-medium-webfont.ttf') format('truetype'),
       url('/assets/fontface/orbitron-medium-webfont.svg#OrbitronMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

